body {
    background-image: url("https://i.ebayimg.com/images/g/z9IAAOSwTc1fCYAG/s-l300.jpg");
    background-size: cover;
}
.text-center > .spinner-border {
    height: 200px;
    width: 200px;
    margin-top: 400px;
}